{% extends 'base.html' %}

{% block content %}
<h3>🤝 Your Study Buddies</h3>
<div class="buddies-list">
  {% for buddy in study_buddies %}
    {% if buddy.participant_one.id == user_profile.id and buddy.participant_two.id != user_profile.id %}
      {% with other=buddy.participant_two %}
        {% include 'network/buddy_card.html' %}
      {% endwith %}
    {% elif buddy.participant_two.id == user_profile.id and buddy.participant_one.id != user_profile.id %}
      {% with other=buddy.participant_one %}
        {% include 'network/buddy_card.html' %}
      {% endwith %}
    {% endif %}
  {% empty %}
    <div class="no-buddies">You don't have any study buddies yet.</div>
  {% endfor %}
</div>
{% endblock %}